@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2eaf2;
    margin: 0;
	padding: 0;
}
.carousel-caption {
    margin-bottom: 2rem;
}
.toast-parent{
    position: relative;
}
.toast{
    position: absolute;
    right: 0;
    top: -55px;
    width: 230px;
}
.my-card{
    border-radius: 1.6rem;
}
.card-body{
    padding-bottom: 0;
}
.card-body ul{
    margin-bottom: 0;
    padding-left: 0;
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-body h5{
    margin: 20px 0 15px 0;
}
.card-body ul li{
    list-style: none;
    padding-bottom: 15px;
}
.card-body ul li i{
    padding-right: 15px;
}
.hot{
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
.badge{
    left: 85%;
}
.accordion-item{
    border: 1px solid #D5E5FB !important;
    border-radius: 5px;
}
.accordion-button:not(.collapsed) {
    color: #383838;
    background-color: transparent;
    box-shadow: none;
}
.fa-arrow-right{
    padding-left: .5rem;
}
section,
footer{
    margin-top: 6.25rem;
}
h3{
    margin-bottom: 4.25rem;
    font-weight: bold;
}
.subscription input{
    outline: none;
    height: 45px;
    font-size: 18px;
    border: none;
}
textarea.form-control{
    outline: none;
    font-size: 18px;
    border: none;
}
